body {
    font-family: 'Merriweather', serif;
    font-size: 12px;
    font-weight: 400;
    color: #666666;
    background-color: #fff;
    width: 960px;
    height: 700px;
    margin: 10px 0 0 30px;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

h3 {
    font-family: 'Merriweather', serif;
    font-size: 16px;
    font-weight: bold;
}

a:link,
a:active,
a:visited,
a:hover { 
    color: #609191;
    text-decoration: none;
} 

form {
    font-family: 'Merriweather', serif;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.5em;
}    

.year-label {
    color: #222;
    font-weight: 900;
}


#share-buttons {
    width: 200px;
    padding-bottom: 50px;
    display: block;
    text-align: center;
    float: right;
}

#share-buttons img {
    width: 23px;
    padding: 3px;
    border: 0;
    box-shadow: 0;
    display: inline;
}
    
#credits {
    clear: both;
    text-align: center;
    text-decoration: none;
    font-family: 'Merriweather', serif;
    font-size: .9em;
    color: #999;
    padding: 30px 0 50px 0; 
}

#headline {
    font-family: 'Fjalla One', sans-serif;
    font-size: 60px;
    font-weight: 400;
    color: #666666;
}

#main {
    float: left;
    width: 750px;
}

#sidebar {
    float: right;
    width: 200px;
}

#sidebar .note {
    font-size: .8em;
    padding: 10px;
    line-height: 15px;
}

#sequence {
    width: 600px;
    height: 110px;
}

#legend {
    font-family: 'Merriweather', serif;
    font-size: 1.1em;
    font-weight: 400;
    color: #ffffff;
    padding: 0px;
    list-style: none;
}

#legend li {
    margin: 8px;
    padding: 5px;
}


#sequence .crumbs {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.3em;
    color: #FFFFFF;
    list-style: none;
    padding: 0px;
    display: inline-block;
}

#sequence .crumbs li {
    display: inline;
    padding: 3px;
    margin: 1px;
    line-height: 2em;
}

#sequence .total {
    display: none;
    font-weight: bold;
}

#chart {
    position: relative;
}

#chart path {
    stroke: #fff;
}

#explanation {
    position: absolute;
    top: 260px;
    left: 250px;
    width: 250px;
    text-align: center;
    line-height: 20px;
    color: #666;
    z-index: -1;
}

#percentage {
    font-size: 2em;
}

#total {
    font-size: 2.5em;
    line-height: 1.5em;
}