table.tablesorter
{
  font-family:arial;
  background-color:#CDCDCD;
  font-size:8pt;
  width:100%;
  text-align:left;
  margin:10px 0 15px;
}

table.tablesorter thead tr th,table.tablesorter tfoot tr th
{
  background-color:#e6EEEE;
  border:1px solid #FFF;
  font-size:8pt;
  padding:4px;
}

table.tablesorter thead tr .header
{
  background-image:url(images/bg.gif);
  background-repeat:no-repeat;
  background-position:center right;
  cursor:pointer;
}

table.tablesorter tbody td
{
  color:#3D3D3D;
  background-color:#FFF;
  vertical-align:top;
  padding:4px;
}

table.tablesorter tbody tr.odd td
{
  background-color:#F0F0F6;
}

table.tablesorter thead tr .headerSortUp
{
  background-image:url(images/asc.gif);
}

table.tablesorter thead tr .headerSortDown
{
  background-image:url(images/desc.gif);
}

table.tablesorter thead tr .headerSortDown,table.tablesorter thead tr .headerSortUp
{
  background-color:#8dbdd8;
}

.disclaimer
{
  color:#999;
  font-size:70%;
}

.c100
{
  background-color:#B2C2D1;
}

.c200
{
  background-color:#F76e4a;
}

.c300
{
  background-color:#efdfbb;
}

.c400
{
  color:#ddd;
  background-color:#335d6b;
}

.c500
{
  background-color:#7aBa7f;
}

.c700
{
  color:#ddd;
  background-color:#88898b;
}

.c800
{
  background-color:#f9c;
}

.c900
{
  background-color:#9fc;
}

.about
{
  color:#555;
  font-size:80%;
}

.navigate
{
  font-size:100%;
  margin-left:3px;
}

.budgetinfo
{
  position:absolute;
  top:50px;
  left:800px;
  background-color:#bce6fa;
  font-size:80%;
  -moz-border-radius:5px;
  border-radius:5px;
  border:1px solid #DDD;
  padding:10px;
}

ul .nav .nav-pills
{
  margin-bottom:0;
}

#chart
{
  width:960px;
  height:500px;
}

text
{
  pointer-events:none;
}

.grandparent text
{
  font-weight:400;
  font-size:150%;
  color:#DDD;
}

#resultstable
{
  font-size:80%;
}

rect
{
  fill:none;
  stroke:#bce6fa;
}

rect.parent,.grandparent rect
{
  stroke-width:5px;
}

rect.parent:hover
{
  outline:1px solid #883;
}

.grandparent rect
{
  fill:#bce6fa;
}

.children rect.parent,.grandparent rect
{
  cursor:pointer;
}

rect.parent
{
  pointer-events:all;
}

.children:hover rect.child,.grandparent:hover rect
{
  fill:#EEE;
}